# MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=usuario
DB_PASSWORD=contraseña
DB_NAME=miosv2_carteras_QA

# Google Maps API
GOOGLE_MAPS_API_KEY=api_key_aqui

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379